body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: beige;
    text-align: center;
    padding: 0px 10%;
}

a {
    color: beige;
}

a:hover {
    color: rgb(184, 255, 184);
}

.divider-bar {
    border-bottom: 2px solid rgba(128, 128, 128, 0.692);
}

.home {
    text-align: right;
    font-size: 12px;
    margin-right: 10%;
    margin-bottom: 5px;
}

.home a {
    text-decoration: none;
}

.ingredient-list {
    column-count: 2;
    column-gap: 20px;
}

.to-the-left {
    text-align: left;
}

.step-list {
    margin: 0 30px;
}

li {
    margin-bottom: 5px;
}

.recipe-container,
.recipe-top-container {
    margin: 10px auto;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 4px 4px rgba(128, 128, 128, 0.582);
}

.recipe-container {
    width: 350px;
}

.recipe-top-container {
    width: auto;
    padding: 0 8px 8px;
}

.side-by-side {
    display: inline-block;
    width: 49%;
}

.recipe-and-pic-container {
 
}

.recipe-description-container {
    vertical-align: top;
    margin-top: 35px;
}